html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    box-sizing:border-box;
  }     

h1,h2{
    color:#1F91BE;
    font-weight:bold;
}
h3{
    font-weight:bold;
}

.wrapper{
    max-width:100%;
    width:1080px;
    margin:0 auto;
    padding-right:30px;
    padding-left:30px;
}

.flex{
    display: flex;
}
header{
    font-weight:bold;
}
@media(min-width:750px){
    .flex{
        align-items: center;
        justify-content: space-between;
    }
    header li{
        margin-left:34px;
    }
    header .logo{
        margin:22px 0;
    }
}
header .logo{
    color:#1F91BE;
    font-size:31px;
}
header .menu{
    font-size:17px;
    line-height:30px;
    list-style:none;
    color:#333333;
}

.top img{
    height:auto;
    width:100%;
    margin:0 auto;
    margin-bottom:100px;
}

.container{
    display:flex;
}

.main{
    width:70%;
    margin-right:80px;
}

.about{
    margin-bottom:70px;
}
.about h2{
    border-bottom:solid;
    font-size:32px;
    margin-bottom:30px;
    padding-bottom:9px;
}
.about-content{
    display:flex;
    justify-content:space-between;
}
.content{
    width:50%;
}
.about img{
    height:auto;
    width:100%;
}
.about p{
    font-weight:normal;
}
.handsup{
    margin-right:30px;
}
.sign{
    margin-left:30px;
}

.about p{
    margin-top:30px;
    font-size:16px;
    line-height:1.7;
    color:#333333;
}
.sign p{
    font-size:16px;
    color:#333333;
}

.news h2{
    border-bottom:solid;
    font-size:32px;
    margin-bottom:10px;
    padding-bottom:9px;
}
.news1,.news2,.news3{
    display:flex;
    border-bottom:solid 1px #6F6F6F;
    line-height:1.7;
    padding:20px 0;
}
.news1,.news3{
    line-height:25px;
}
.news h3{
    font-size:14px;
    padding-right:48px;
    white-space:nowrap;
    color:#333333;
}
.btn-wrapper{
    text-align:right;
}
.btn{
    color:#1F91BE;
    border:solid;
    display:inline-block;
    text-decoration:none;
    margin-top:28px;
    padding:8px 34px;
    font-size:16px;
}
.news p{
    font-size:14px;
    color:#333333;
}

.side{
    width:30%;
}
.category h2{
    border-bottom:solid;
    margin-top:10px;
    margin-bottom:42px;
    font-size:22px;
    padding-bottom:9px;
}
.side img{
    width:100%;
    height:100%;
    margin-bottom:30px;
}
.category-list li{
    padding-bottom:15px;
    font-weight:bold;
    font-size:16px;
    color:#333333;
}

footer{
    background:#C7C7C7;
    color:white;
    text-align:center;
    height:49.5px;
    margin-top:108px;
}
footer p{
    font-size:13px;
    padding:19px 0 17.5px 0;
}

@media(max-width:1080px){
    *{
        box-sizing:border-box;
    } 

    .wrapper{
        padding-right:30px;
        padding-left:30px;
    }      

    .main{
        border-right:40px;
        box-sizing: border-box;
    }

    .about{
        margin-bottom:60px;
    }
    .about-content{
        flex-direction:column;
    }
    .content{
        width:100%;
    }
    .about p{
        margin-top:20px;
        margin-bottom:40px;
    }
    .handsup{
        margin-right:0px;
    }
    .sign{
        margin-left:0px;
    }
    .about h2{
        font-size:25px;
    }

    .news h2{
        font-size:25px;
    }
    
    .top img{
        margin-bottom:70px;
    }
}

@media(max-width:750px){
    *{
        box-sizing:border-box;
      }
   
    header .logo{
        font-size:18px;
        margin-top:20px
    }
    header .menu{
        font-size:14px;
    }
    header li{
        margin-right:12px;
        margin-bottom:20px;
    }
    header .wrapper{
        flex-direction:column;
    }
    
    .container{
        flex-direction:column;
    }

    .top img{
        margin-bottom:40px;
    }
    .main,
    .side{
        width:100%;
    }

    .about{
        margin-bottom:20px;
    }
    .about h2{
        font-size:22px;
    }
    .about-content{
        flex-direction:column;
    }
    .about p{
        font-size:16px;
    }
    
    .news h2{
        font-size:22px;
    }
    .news1,.news2,.news3{
        display: flex;
        flex-direction:column;
    }
    .news2{
        line-height:25px;
    }
    .news h3{
        padding-bottom:20px;
    }
    .btn-wrapper{
        text-align:center;
        margin-bottom:60px;
    }
    .btn{
        font-size:14px;
        padding:13px 39px;
    }

    .side img{
        margin-bottom:20px;
        height:auto;
        width:100%;
    }
    .category h2{
        font-size:22px;
        margin-bottom:29px;
    }
    .category-list{
        font-size:14px;
    }
    
    footer{
        font-size:11px;
        margin-top:60px;
    }
}

@media(max-width:375px){
    header .logo{
        font-size:15px;
        margin-top:20px
    }
    header .menu{
        font-size:12px;
    }
    header li{
        margin-right:10px;
        margin-bottom:20px;
    }
    .wrapper{
        padding-right:15px;
        padding-left:15px;
    }
}
